*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial
}

div{
text-align: center;
}


figure{
    display: inline-block;
    position: relative;
    width: 25%; 
    margin-right: 20px;
    margin-top: 30px;
}

.cuore{
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
}
.etichette{
    position: absolute;
    bottom: 80px;
    left: 0px;

}
.sconto{
    font-size: 12px;
    padding: 5px;
    background-color: red;
    color: white;
}

.sostenibilita{
    font-size: 12px;
    padding: 5px;
    background-color: green;
    color: white;  
}

.cuore::before{
    content: '\2665' ;
    font-size: 30px;
    margin: 10px;
}
img{
    width: 100%;
   }
   
figcaption{
    text-align: left;
}

.prezzo:after {
    content: '\20AC';
}


.descrizione{
    font-weight: 800;
}

.prezzo{
    color: red;
}

.prezzoV{
    text-decoration: line-through;
    color: rgb(87, 87, 87);
}
