*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div{
text-align: center;
}

figure{
display: inline-block;

}

figure{
    width: 25%; 
    margin-right: 20px;
    margin-top: 30px;
}

img{
    width: 100%;
   }
   
figcaption{
    text-align: left;
}